/* SETUP ---------------------------------------------------------------------------------------------------------- */

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #fafafa;
    font-family: tahoma;
}



.margin-line {
    width: 100vw;
    height: 30px;
}


.row {
    width: 100vw;
}

.top-document {
    position: fixed;
    z-index: 999;
    background-color: orangered;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 52px;
    cursor: pointer;
    display: none;
}



.top-document i {
    margin-top: 4px;
    margin-left: 4px;
}

.msg {
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    left: 30px;
}


.msg-content {
    background-color: orangered;
    color: #fff;
    font-weight: bold;
    border-radius: 28px;
    border: 3px solid #f9f9f9;
    padding:20px 30px;
    box-shadow: 2px 3px 10px #333;
    transition: .5s;
}


.msg-tree {
    width:150px;
    height: 25px;
    background-color: #a94b00;
    transform: rotate(90deg);
    position: relative;
    z-index: -1;
    margin-left: 15px;
    padding-bottom: 7px;
    box-shadow: 1px 2px 5px #000;
}


.msg-tree hr {
    height: 2px;
    background-color: #bc5e00;
    border: none;
}


.msg-tree hr:nth-child(even) {
    margin-right: 50px;
}

.msg-tree hr:nth-child(odd) {
    margin-left: 70px;
}


.msg-tree hr:nth-child(1) {
    height: 5px;
    width: 7px;
    border-radius: 50%;
    background-color: #a94b00;
    border: 1.5px solid #bc5e00;
}





/* SETUP ---------------------------------------------------------------------------------------------------------- */



/* HEADER ---------------------------------------------------------------------------------------------------------- */

.header {
    height: 100vh;
    width: 100vw;
}

.bg-header {
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    height: 75vh;
    box-shadow: 0 3px 18px #333;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 100vw;
    height: 75vh;
    background-color: rgba(133, 133, 133, .7);
}



.header-info-title {
    color: #fff;
    font-weight: bold;
    border: 2px solid #ffffff;
    padding: 20px 30px;
    max-width: 200px;
}


.header-info h3 {
    color: #fff;
}


.header-info-text p {
    font-size: 20px;
    color: #fff;
    font-family: tahoma;
    font-style: italic;
    font-weight: bold;
}

.header-avatar {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.header-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #fff;
}



/* HEADER ---------------------------------------------------------------------------------------------------------- */


/* SECTION ABOUT ---------------------------------------------------------------------------------------------------------- */


.section-about-title {
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.section-about-title h2 {
    font-size: 56px;
    padding: 0 20px;
    
}

.section-about-title h2::after {
    content: '';
    width: 80px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 0 auto;
    margin-left: 30px;

}


.section-about-text {
    text-align: center;
    padding: 10px 80px;
}

.section-about-text p {
    text-align: left;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

.section-about-text p:nth-child(even) {
    opacity: .7;
}

.section-about-content {
    display: flex;
    padding: 10px 80px;
}

.section-about-content-left {
    flex: 0 1 30%;
}
.section-about-content-right {
    flex: 1 0 70%;
}

.section-about-content-right-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-about-content-right-circle {
    position: relative;
    font-size: 40px;
    width: 150px;
    height: 150px;
    margin: 15px;

}

.flip-card {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s ease;
    transform-style: preserve-3d;
}


.flip-card:hover {
    transform: rotateY(180deg);
}

.front, .back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-color: #333;
    color: #fff;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    background-color: orangered;
    color: #fff;
    transform: rotateY(180deg);
    font-size: 28px;
}


/* SECTION ABOUT ---------------------------------------------------------------------------------------------------------- */




/* SECTION SERVIÇOS ---------------------------------------------------------------------------------------------------------- */

.section-service {
    background-color: #fff;
    padding-bottom: 80px;
}

.section-service-title {
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.section-service-title h2 {
    font-size: 56px;
    padding: 0 20px;
    
}

.section-service-title h2::after {
    content: '';
    width: 80px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 0 auto;
    margin-left: 55px;
}

.section-service-text {
    display: flex;
    padding: 10px 80px;
    font-family: tahoma;
    opacity: 0.9;
}

.section-service-text-left {
    flex: 1 0 50%;
}


.section-service-text-right {
    flex: 0 1 50%;
}

.section-service-text-left-card {
    display: flex;
    flex-direction: row;
    text-align: right;
}

.section-service-text-right-card {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.section-service-text-left-card-info, .section-service-text-right-card-info {
    padding-top: 10px;
}

.section-service-text-left-card i, .section-service-text-right-card i {
    background-color: orangered;
    color: #fff;
    font-size: 48px;
    min-width: 120px;
    height: 120px;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;  
}

.section-service-text-left-card i:hover, .section-service-text-right-card i:hover, .section-contact-card i:hover {
    animation: maxxMin .5s;
}


/* SECTION SERVIÇOS ---------------------------------------------------------------------------------------------------------- */



/* SECTION TRABALHO ---------------------------------------------------------------------------------------------------------- */


.section-working {
    width: 100vw;
    background-color: rgb(90,90,90);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 120px;
}


.section-working-title h2 {
    font-size: 52px;
    padding: 0 20px;
}


.section-working-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-working-body-content {
    text-align: center;
    margin: 0 10px;
}


.section-working-body-content:nth-child(even) {
    margin-top: 70px;
}


.section-working-body-content i {
    border: 1px solid #fff;
    border-radius: 8%;
    font-size: 48px;
    width: 180px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-working-body-content i:hover {
    box-shadow: 0 0 15px #fff;
    transition: .5s;
}


/* SECTION TRABALHO ---------------------------------------------------------------------------------------------------------- */



/* SECTION PREÇOS ---------------------------------------------------------------------------------------------------------- */


.section-precing {
    width: 100vw;
    padding: 25px 0;
}

.section-precing-title  {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-precing-title h2 {
    font-size: 4em;
}

.section-precing-title h2::after {
    content: '';
    width: 80px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 0 auto;
    margin-left: 55px;
}

.section-precing-body {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-precing-body-card {
    background-color: #fff;
    width: 250px;
    margin: 20px;
}

.section-precing-body-card:nth-child(2) {
    box-shadow: 0px 8px 10px #000;
}

.section-precing-body-card:nth-child(4) p {
    padding:96px 0;
    font-size:18px;
    text-align: center;
}


.section-precing-body-card-header {
    background-color: rgba(255, 68, 0, 0.769);
    color:#fff;
    text-align: center;
    padding: 15px 0 70px;
}



.section-precing-body-card-content-circle {
    background-color: #fff;
    border: 5px solid #f5f5f5;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -70px auto;
}

.section-precing-body-card-content-circle b {
    font-size: 45px;
    margin-top: 20px;
}

.section-precing-body-card-content-circle b span:nth-child(odd) {
    font-size: 18px;
}

.section-precing-body-card-content-circle b span:nth-child(even) {
    position: relative;
    top: 3px;
}

.section-precing-body-card-content-circle p {
    color: rgb(123,123,123);
    font-weight: bold;
    margin-top: 10px;
}


.section-precing-body-card-content-list {
    margin-top: 100px;
    text-align: center;
    padding: 0 25px;
}

.section-precing-body-card-content-list ul {
    padding:0
}

.section-precing-body-card-content-list li {
    list-style: none;
    border-bottom: 3px solid #f7f7f7;
    padding: 10px 0;
}


.section-precing-body-card-content-footer {
    margin-top: 20px;
    padding: 30px 0;
    text-align: center;
}


.section-precing-body-card-content-footer a {
    background-color: rgba(255, 68, 0, 0.769);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 7%;
}

/* SECTION PREÇOS ---------------------------------------------------------------------------------------------------------- */




/* SECTION BLOG ---------------------------------------------------------------------------------------------------------- */


.section-blog {
    width: 100vw;
    background-color: #fff;
}

.section-blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-blog-title h2 {
    font-size: 4em;
}

.section-blog-title h2::after {
    content: '';
    width: 80px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 0 auto;
    margin-left: 20px;
}

.section-blog-body {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.section-blog-body-card {
    border: 0.6px solid #f2f2f2;
    max-width: 300px;
    max-height: 350px;
    padding:10px;
    margin: 10px 30px;
    cursor: pointer;
}
.section-blog-body-card:hover {
    transition: 1s;
    position: relative;
    margin-top: -5px;
    box-shadow: 0px 3px 5px #000;
}


.section-blog-body-card-img {
    background-image: url("https://source.unsplash.com/random/1600x900/?nature");
    background-position: center;
    width: 100%;
    height: 180px;
}


.section-blog-body-card-description p, .section-blog-body-card-footer  p{
    opacity: 0.6;
}

.section-blog-body-card-footer  p i {
    background-color:rgba(255, 0, 0, 0.646);
    color: #fff;
    font-size: 18px;
}


/* SECTION BLOG ---------------------------------------------------------------------------------------------------------- */


/* SECTION HABILIDADE ---------------------------------------------------------------------------------------------------------- */


.section-skills-title {
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.section-skills-title h2 {
    font-size: 56px;
    padding: 0 20px;
    
}

.section-skills-title h2::after {
    content: '';
    width: 80px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 0 auto;
    margin-left: 100px;
}

.section-skills-text {
    display: flex;
    padding: 10px 80px;

}

.section-skills-text-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.section-skills-text-content-card {
    position: relative;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
}

.section-skills-text-content-card .percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50% #000;
    z-index: 99;
}
.section-skills-text-content-card .number {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.section-skills-text-content-card .number h2 {
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: .5s;
}

.section-skills-text-content-card:hover .number h2 {
    font-size: 50px;
}

.section-skills-text-content-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.section-skills-text-content-card:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .03);
}

.section-skills-text-content-card svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 99;
}

.section-skills-text-content-card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
    stroke:rgba(233, 0, 0, 0.755);
}

.section-skills-text-content-card svg circle:nth-child(2) {
    stroke-dashoffset: 440;
    stroke-dasharray: 440;
}


.section-skills-text-content-card:nth-child(1) svg circle:nth-child(2) {
    animation: 20s;
    stroke-dashoffset: 0;
}

.section-skills-text-content-card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) /100);
}

.section-skills-text-content-card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 88) /100);
}

.section-skills-text-content-card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 92) /100);
}

.section-skills-text-content-card:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 87) /100);
}

.section-skills-text-content-card:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 82) /100);
}
.section-skills-text-content-card:nth-child(7) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 91) /100);
}

.section-skills-text-content-card:nth-child(8) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 72) /100);
}

.section-skills-text-content-card:nth-child(9) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 65) /100);
}

.section-skills-text-content-card:nth-child(10) svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 61) /100);
}



/* SECTION HABILIDADE ---------------------------------------------------------------------------------------------------------- */


/* SECTION CONTATO FORM ---------------------------------------------------------------------------------------------------------- */


.section-contact-form {
    width: 100vw;
    background-image: url("https://source.unsplash.com/random/1600x900/?code");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.section-contact-form svg {
    display: block;
}


.contact-form-title {
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.contact-form-title h2 {
    font-size: 56px;
    padding: 0 20px;
    
}

.contact-form-title h2::after {
    content: '';
    width: 80px;
    height: 3px;
    background: currentColor;
    display: block;
    margin: 0 auto;
    margin-left: 55px;
}


.section-contact-form-card {
    height: 500px;
    margin:35px auto;
    padding: 35px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 60vw;
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.931);
    border-radius: 4px;
}

.nome, .email , .mensagem {
    position: absolute;
    padding: 5px;
    margin-left: 6px;
    margin-top: 15px;
    background-color:none;
    transition: .2s;
    font-size: 20px;
}



.section-contact-form-card-flex {
    margin:  20px 0;
    width: 50vw;
}


.section-contact-form-card-flex input[type="text"] {
    border: 1px solid rgb(139, 139, 233);
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    outline: none;
}


.section-contact-form-card-flex textarea {
    padding: 10px;
    border: 1px solid rgb(139, 139, 233);
    resize: none;
    width: 100%;
    height: 150px;
    outline: none;
    margin-top:10px;
}


.section-contact-form-card-flex input[type="submit"] {
    border: none;
    background-color: rgb(127, 187, 190);
    color: #fff;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
}
 

/* SECTION CONTATO FORM ---------------------------------------------------------------------------------------------------------- */






/* SECTION CONTATO ---------------------------------------------------------------------------------------------------------- */



.section-contact-text {
    display: flex;
    padding: 10px 80px;
    flex-direction: row;
}


.section-contact-card {
    max-width: 300px;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}


.section-contact-card i {
    min-width: 120px;
    height: 120px;
    background-color: orangered;
    color: #fff;
    font-size: 48px;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.section-contact-card .info {
    margin-left: 20px;
}


/* SECTION CONTATO ---------------------------------------------------------------------------------------------------------- */



/* FOOTER ---------------------------------------------------------------------------------------------------------- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #f3f3f3;
    font-family: tahoma;
    font-size: 22px;
    height: 80px;
}



/*FOOTER ---------------------------------------------------------------------------------------------------------- */





@media (max-width: 1215px) {
    .section-working-body-content i {
        width: 160px;
    }
}

@media (max-width: 1092px) {
    .section-working-body-content i {
        width: 140px;
    }
}

@media (max-width: 972px) {
    .section-working-body-content i {
        width: 120px;
    }
}


@media (max-width: 900px) {
    
    .section-about-content, .section-skills-text-content {
        flex-direction: column;
    }

  

    .section-skills-text-content,.section-about-content {
        margin: 0 auto;
    }

    .section-about-content-right-flex {
        margin-left: 21%;
    }

    .section-service-text {
        flex-direction: column;
    }



    .section-contact-text  {
        flex-wrap: wrap;
        height: 200px;
        align-content: space-between;

    }

    .section-working-body-content {
        margin: 30px 10px 0;
    }

    .section-working-body-content i {
        width: 100px;
        height: 80px;
        font-size: 36px;
    }


    .section-working-body-content h2 {
        font-size:18px;
    }


}


@media (max-width: 782px) {
    .section-working-body-content i {
        width: 90px;
        font-size: 36px;
    }
}

@media (max-width: 742px) {
    .section-working-body-content i {
        width: 80px;
        font-size: 32px;
    }
}

@media (max-width: 702px) {
    .section-working-body-content i {
        width: 70px;
        font-size: 32px;
    }

    .section-working-body-content h2 {
        font-size:14px;
    }
}



@media (max-width: 572px) {
    .section-working-body {
        padding: 0 5px;
        display: block;
    }
    .section-working-body-content {
        margin: 0;
    }

    .section-working-body-content:nth-child(even) {
        margin-top: 120px;
        display: flex;
        flex-direction: column-reverse;
    }

    .section-working-title h2 {
        font-size: 48px;
    }

    .section-working-body-content i {
        width: 300px;
        height: 220px;
        font-size: 88px;
    }


    .section-working-body-content h2 {
        font-size: 42px;
    }
}



@keyframes maxxMin {
    50% {
        font-size: 56px;
    }

    100% {
        font-size: 48px;
    }
}